:root{
    --white-color: #ffffff;
    --Dark-Purple: #462873;
    --Dark-Purple-Opaque: rgba(70, 40, 115, .75);
    --Light-Purple: #9484B2;
    --Light-Purple-Opaque: rgba(148, 132, 178, .75);
    --Light-Pink: #FFD9EE;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
}

/*Apply Styles to Header*/
header{
    background-image: url(../images/header-background.jpg);
    background-size: cover;
    background-position: 80% 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: sticky;
    top: 0;
    padding: 15px;
    z-index: 9999;
}

.header-name{
    text-align: center;
    line-height: 0.5;
    padding: 0px 25px 25px;

}
header h1{
    padding: 15px;
    color: var(--white-color);
}

header h2{
    color: var(--Light-Pink);
    font-weight: lighter;
}

header nav{
    margin: 7px 0;
    padding-top: 20px;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a{
    text-decoration: none;
    color: var(--Light-Pink);
    font-weight: bold;
    padding: 10px 15px;
}

/*apply general styles to sections*/
section{
    padding: 60px;
}

.section-title{
    font-size: 40px;
    padding-bottom: 20px; 
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
}

.primary-title{
    color: var(--Dark-Purple)
}

.secondary-title{
    color: var(--Light-Purple);
}

/*apply styles to About Me Section*/
.about-me{
    background-color: var(--Light-Purple);
}


/*apply style to My-work Section*/
.my-work{
    background-color: var(--Dark-Purple);
}

/*apply style to Contact-Me Section*/
.contact-me{
    background-color: var(--Light-Pink);
}
/*apply styles to Footer*/
footer{
    background-image: url(../images/header-background.jpg);
    background-size: cover;
    background-position: 80% 90%;
}