:root{
    --white-color: #ffffff;
    --Dark-Purple: #462873;
    --Dark-Purple-Opaque: rgba(70, 40, 115, .75);
    --Light-Purple: #9484B2;
    --Light-Purple-Opaque: rgba(148, 132, 178, .75);
    --Light-Pink: #FFD9EE;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
}

/*Apply Styles to Header*/
header{
    background-image: url(../images/header-background.jpg);
    background-size: cover;
    background-position: 80% 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 15px;
    z-index: 9999;
}

.header-name{
    text-align: center;
    line-height: 0.5;
    padding: 0px 25px 25px;

}
header h1{
    padding: 15px;
    color: var(--white-color);
}

header h2{
    color: var(--Light-Pink);
    font-weight: lighter;
}

header nav{
    margin: 7px 0;

}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a{
    text-decoration: none;
    color: var(--Light-Pink);
    font-weight: bold;
    padding: 10px 15px;
}

/*apply general styles to sections*/
section{
    padding: 60px;
}

.section-title{
    font-size: 40px;
    padding-bottom: 20px; 
    text-align: center;
    margin: 0 auto;
    width: 50%;
}

.primary-title{
    color: var(--Dark-Purple)
}

.secondary-title{
    color: var(--Light-Purple);
}

/*apply styles to About Me Section*/
.about-me{
    background-color: var(--Light-Purple);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.about-me-container{
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.about-me-img{
    flex: 1 30%;
}

.about-me-img img{
    width: 100%;
    padding: 15px;
    text-align: center;
}

.about-me-info{
    flex: 1 70%;
    padding: 15px 40px;
    text-align: center;
}

.about-me-info p{
    font-size: 30px;
    padding-bottom: 30px;
}

/*apply style to My-work Section*/
.my-work{
    background-color: var(--Dark-Purple);
    width: 100%;
    margin: 0 auto;
}

.my-work-container{
    width: 80%;
    margin: 0 auto;
}

.my-work-gallery{
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: repeat(3, 1fr);
}

.my-work-gallery-item{
    padding: 10px 15px;
}

.my-work-gallery-item h2{
    overflow: hidden;
    align-items: flex-end;
}

.my-work-gallery-item img{
    width: 100%;
}
.project-1{
    grid-column: 1;
    grid-row: 1 / span 3;
    flex: 1 70%;
    overflow: hidden;
}


/*apply style to Contact-Me Section*/
.contact-me{
    background-color: var(--Light-Pink);
}

.contact-me h2{
    display: inline-block;
    width: 50%;
    margin: 0px;
    text-align: right;
    padding-right: 20px;
}

.contact-me label{
    color: var(--Dark-Purple);
    font-size: 20px;
}

.contact-me input, .contact-me textarea{
    width: 100%;
    color: var(--white-color);
    background-color: var(--Light-Purple);
    border: solid 1px var(--Dark-Purple);
    border-radius: 10px;
    padding: 10px 5px;
    font-size: 16px;
    
}

.contact-me input::placeholder, .contact-me textarea::placeholder{
    color: var(--Dark-Purple-Opaque);
}

.contact-me textarea{
    height: 70px;
}
.contact-me-container{
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.contact-me-form{
    flex: 1 50%;
    padding-left: 20px;
}

.contact-me button{
    background-color: var(--Dark-Purple);
    color: var(--Light-Purple);
    border: none;
    padding: 10px 25px;
    margin-top: 15px;
    border-radius: 10px;
    font-size: 20px;
}

/*apply styles to Footer*/
footer{
    background-image: url(../images/header-background.jpg);
    background-size: cover;
    background-position: 80% 90%;
    display: flex;
    justify-content: space-between;
    padding: 10px 25px;
    align-items: center;
}

footer h2, footer div{
    color: var(--Light-Pink);
    font-weight: lighter;
}

footer span{
    color: var(--white-color);
    font-weight: bold;
}
